body {
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(29, 29, 29);
}

header {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #ccc;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative; 
 margin: 40px;
}



.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 39% 50%;
}


@media (orientation:landscape) { 
    main {
        height: 56.25vw;
    }
   
  }

  .contraste {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom,  var(--rose), var(--crayola));
      opacity: 70%;
      
  }

  .container , .row{
    width: 100%;
    height: 100%;
    position: relative;
}


  .title-1{
    text-align: center;
    line-height: 0.8;
}

.desc{
    text-align: center;
    font-weight: 700;
    color: white;
}

.savoir{
    position: relative;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 15px 35px;
    color: #fff;
    border-radius: 10px;
    background-color: var(--pourpre);
    /*margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);*/
}

.navbar {
    background-image: linear-gradient(to right, var(--mauve), var(--pourpre));
    opacity: 85%;
}

.footer{
    list-style:none;
    line-height:1.6;
    font-size:20px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: black;   
}

footer {
    background-color: var(--rose);
    padding: 20px;
    margin-top: 20px;
    color: #fff;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}


.album {
    margin: 20px 0;
}

.panic {
    width: 100%;
    margin-top: 20px;
}


.credits:hover {
color: var(--pourpre);
}

.animation {
    width: 100%;
}

.videoclip {
    width: calc(90% + 25px);
    height: 100%;
    position: absolute;
    top: 0;
}
.boiteVid {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-top: 20px;
    margin-left: 5px;
    position: relative;
}

.video{
    margin-bottom: 30px;
}

ol{
    color: #fff;
}

.imgModal{
width: 300px;
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
}

.swiper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.swiperImage {
    object-fit: contain;
    width: 100%;
    height: 100%;
}