@font-face {
    src: url("../NeonSans.woff2") format("woff2");
    font-family: "NeonSans";
  }

:root { --rose: #FF33AD; }
:root { --pourpre: #D90368; }
:root { --mauve: #6700A3; }
:root { --violet: #733BCE; }
:root { --crayola: #7374D4; }
:root { --texte: Raleway; }
:root { --titre: NeonSans; }

body{
    font-size: 18px;
    font-family: var(--texte);
}

.title-1{
    font-size: 80px;
    font-family: var(--titre);
    color: var(--mauve);
    font-weight: 800;
}

.title-2{
    font-size: 50px;
    font-family: var(--titre);
    color: var(--violet);
}

.title-3{
    font-size: 30px;
    font-family: var(--titre);
    color: var(--crayola);
}